
html { min-height: 100%; }

body {
  margin: 0;
  min-height: inherit;
}
 [data-sidebar] {
 display: none;
 overflow-y: auto; 
 position: fixed;
 top: 0;
 left: 0; 
 height: 100%;
 width: 280px;
 z-index: 100;
 transform: translate3d(0,0,0);
 -webkit-transform: translate3d(0,0,0);
}
 [data-sidebar-overlay] {
 display: none;
 position: fixed; 
 top: 0;
 left: 0;
 opacity: 0;
 width: 100%;
 min-height: inherit;
 transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);
}

/* Additional styles */

/*aside { background-color: #ffffff;box-shadow: 0 6px 0 0 rgba(0,0,0,0.5); border-style: solid; }*/
aside { background-color: #ffffff; transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);}
aside  a { color:#000; text-decoration:none; transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);}
.overlay { background-color: #ddd; }
.padding { padding: 2em; }


.menu_simple ul {
    margin: 0; 
    padding: 0;
    width:100%;
    list-style-type: none;
	border: 2px solid darkgrey;
}

.menu_simple img {
    margin: 0 0 10px 0;
    padding: 2px;
    vertical-align: middle;	
}

.menu_simple ul li {
	font-weight: bold;
    text-decoration: none;
    color: #333333; 
    background-color: #f6f6f6;    
	border-bottom:solid darkgrey;
	font-family:Microsoft JhengHei;		
}

.menu_simple ul li a {
	font-weight: bold;
    text-decoration: none;
    color: #333333; 
    padding: 10.5px 11px;
    background-color: #f6f6f6;
    display:block;	
	font-family:Microsoft JhengHei;		
}

.menu_simple ul li a::after {
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	border-right: 3px solid #adb46b;
	border-top: 3px solid #adb46b;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -5px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: #333333;
    background-color: #ededed;
}

span.premium{
	position: absolute;
	font-size: 12.5px;
	font-weight: bold;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	padding: 0 .48em;
	line-height: 1.6em;
	min-height: 1.6em;
	min-width: .64em;
	right: 3em;
	top: 50%;
	margin-top: -.88em;
}

.menu_simple h2 {
	font-size: 20px;
	margin-left: 15px;
	display: inline;
	vertical-align: middle;	
	text-align:center;
}

.menu ul li a {
	font-weight: bold;
    text-decoration: none;
    color: #333333; 
    padding: 10.5px 11px;
    background-color: #f6f6f6;
    display:block;
	border-bottom:solid #1c2f58;
	font-family:Microsoft JhengHei;
}

.menu h2 {
	font-size: 18px;
	margin-left: 15px;
	display: inline;
	vertical-align: middle;	
	text-align:center;
}

.menu h3 {
	font-size: 13px;
	margin-left: 15px;
	display: inline;
	vertical-align: middle;	
	text-align:center;
}

.menu ul li a:hover, .menu_simple ul li .current {
    color: #333333;
    background-color: #ededed;
}

.menu ul {
    margin: 0; 
    padding: 0;
    width:100%;
    list-style-type: none;
}

.menu img {
    margin: 0 0 10px 0;
    padding: 2px;
    vertical-align: middle;
}

.arrow {
    display:inline-block;
    width:7px;
    height:7px;
    line-height:7px;
    border-top:3px solid #aaa;
    border-right:3px solid #aaa;
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}

.content {
	border-width: 0;
	overflow: visible;
	overflow-x: hidden;
	padding: 1em;
}

.content-border {
	border-width: 1px;
	border-style: solid;
}

.corner-all {
	-webkit-border-radius: 				.3125em /*{global-radii-blocks}*/;
	border-radius: 						.3125em /*{global-radii-blocks}*/;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 80%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	height: 60%;
	overflow-y: scroll;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 5px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }